{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Skins de League of Legends</title>
    <link rel="stylesheet" href="{% static 'skins/styles.css' %}">
</head>
<body>
    <h1>Liste des Skins</h1>
    <form method="GET" action="{% url 'skins' %}">
        <input type="text" name="q" placeholder="Rechercher un champion..." value="{{ query }}">
        <button type="submit">Rechercher</button>
    </form>
    <div>
        {% for champion, skins in skins_by_champion.items %}
            <h2>{{ champion }}</h2>
            <ul>
                {% for skin in skins %}
                    <li>
                        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ champion }}_{{skin.skin_id }}.jpg" 
                             alt="{{ skin.skin_name }}" width="500" height="300">
                             <li>{{ skin.skin_name }}</li>
                        {{ skin.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</body>
</html>
